//Color Variables and mixins

$color-primary-0: #171819;	// Main Primary color */
$color-primary-1: #394754;
$color-primary-2: #2C3339;
$color-primary-3: #1D2329;
$color-primary-4: #1D2B38;

$color-secondary-1-0: #272322;	// Main Secondary color (1) */
$color-secondary-1-1: #815E55;
$color-secondary-1-2: #584743;
$color-secondary-1-3: #40302B;
$color-secondary-1-4: #563329;

$color-secondary-2-0: #191C1A;	// Main Secondary color (2) */
$color-secondary-2-1: #3D5C4A;
$color-secondary-2-2: #2F3F36;
$color-secondary-2-3: #1F2D25;
$color-secondary-2-4: #1D3E2B;

$color-complement-0: #272522;	// Main Complement color */
$color-complement-1: #816F55;
$color-complement-2: #584F43;
$color-complement-3: #40372B;
$color-complement-4: #564429;


$link_color: $color-secondary-1-1;